@import "libs";
@import "_vars";
@import "_global";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.main-container{
    padding-bottom: 20px;   
    &__inner{
        display: flex;
        justify-content: space-between;
        height: 100%;
        @include for-md{
            flex-direction: column-reverse;
        }
    }
    &__title{
        margin-top: 56px;
        @include for-md-mob{
            margin-top: 33px;
        }
    }
    &__description{
        margin-top: 21px;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        p+p{
            margin-top: 10px;
        }
        @include for-md-mob{
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__left-block{
        position: relative;
        display: flex;
        padding-top: 150px;
        height: 100%;
        flex-direction: column;
        z-index: 1;
        max-width: 505px;
        @include for-md{
            padding-right: 20px;
            padding-top: 0;
            max-width: 100%;
        }
    }
    &__buttons{
        display: flex;
        align-items: center;
        margin-top: 107px;
        *+*{
            margin-left: 21px;
        }
        @include for-md-mob{
            margin-top: 41px;
        }
    }
    &__emoji{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 90%;
        width: 52px;
        height: 52px;
        @include for-md-mob{
            width: 35px;
            height: 34px;
            bottom: 100%;
        }
    }
    &__right-block{
        display: flex;
        @include for-md{
            margin-bottom: -160px;
            justify-content: flex-end;
        }
        @include for-md-mob{
            margin-bottom: -22px;
        }
    }
    &__img{
        align-self: flex-end;
        @include for-xl{
            width: 600px;
        }
        @include for-lg{
            align-self: center;
            width: 427px;
        }
        @include for-md{
            margin-top: 50px;
        }
        @include for-md-mob{
            width: 270px;
        }
    }
    &__gif{
        position: absolute;
        z-index: -1;
        right: -60px;
        @include for-xl{
            width: 100%;
        }
        @include for-md-mob{
            width: 551px;
        }
        
    }
}

.modal{
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: scroll;
    background-color: $white;
    &__body{
        padding: 87px 56px 107px 80px;
        @include for-md{
            padding: 0; 
        }
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        >*+*{
            margin-left: 44px;
            @include for-md{
                margin-left: 0;
                margin-bottom: 44px;
            }
        }
        @include for-md{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__close{
        display: inline-flex;
        align-items: center;
        margin-top: 75px;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        @include for-md{
            display: flex;
            justify-content: center;
        }
        @include for-sm{
            font-size: 20px;
            line-height: 26px;
        }
        @include for-md-mob{
            margin-top: 36px;
            font-size: 14px;
            line-height: 18px;
        }
    }
    &__close-icon{
        margin-right: 19.67px;
        width: 18.33px;
        height: 35px;
        @include for-md-mob{
            margin-right: 12.67px;
            width: 9.33px;
            height: 17.82px;
        }
    }
    
}
.modal-container{
    position: relative;
    padding: 56px 25px 40px;
    border-radius: 20px;
    border: 1px solid rgba($color: $black, $alpha: .1);
    @include for-md-mob{
        padding: 20px 32px 40px 20px;
    } 
    &--white{
        background-color: $white;
    }
    &--black{
        background-color: $black;
        .modal-container__title{
            color: $white;
        }
    }
    &__title{
        display: flex;
        align-items: center;
        font-size: 28px;
        line-height: 36px;
        font-weight: 600;
        @include for-md-mob{
            font-size: 16px;
            line-height: 21px;
        }
    }
    &__title-img{
        margin-right: 20px;
        width: 60px;
        height: 60px;
        @include for-md-mob{
            margin-right: 10px;
            width: 40px;
            height: 40px;
        } 
    }
    
}

.subscribe{
    @include for-md{
        display: flex;
        flex-direction: column;
        order: 2;
        padding: 0;
        border: none;
    }
    &__title{
        padding-left: 20px;
    }
    &__container{
        display: flex;
        align-items: center;
    }
    &__form{
        max-width: 505px;
        width: 100%;
        position: relative;
        margin-top: 150px;
        @include for-md{
            margin: 37px auto 0;
        }
    }
    &__input{
        padding: 0 28px;
        max-width: 334px;
        width: 100%;
        min-height: 50px;
        background-color: $grey;
        border: none;
        border-radius: 11px;
        &::placeholder{
            color: rgba($color: $black, $alpha: .32);
        } 
        @include for-sm{
            padding: 0 14px;
            min-height: 46px;
            font-size: 11px;
            line-height: 14px;
        }
    }
    &__submit{
        margin-left: 10px;
        padding: 15px 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid rgba($color: $black, $alpha: .16);
        background-color: $white;
        max-width: 161px;
        color: $black;
        @include for-sm{
            max-width: 103px;
            padding: 13px 0;
            font-size: 11px;
            line-height: 14px;
        }
     }
     &__personal-data{
         margin-top: 100px;
         color: rgba($color: $black, $alpha: .32);
         @include for-md{
            margin-top: 18.54px;
        }
        @include for-sm{
            font-size: 10px;
            line-height: 15px;
        }
     }
     &__personal-data-link{
         text-decoration: underline;
         &:hover{
             text-decoration: none;
         }
     }
}

.subscribe-thanks{
    position: absolute;    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;   
    // margin-top: 150px;
    background-color: $white;
    @include for-sm{
        // margin-top: 42px;        
    }
    &__inner{
        height: 100%;
    }
    &__subtitle{
        text-align: center;
        @include for-sm{
            display: flex;
            align-items: center;
            text-align: left;
            color: rgba($color: $black, $alpha: .7);
        }
    }
    &__check-block{
        display: none;  
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $black;
        flex-shrink: 0;
        @include for-sm{
            display: flex;
        }
    }
    &__check-icon{
        width: 17.27px;
        height: 11px;
    }
}

.complaint{    
    background-color: $black;
    &__body{
        display: flex;
        padding-top: 70px;
        flex-direction: column;
        align-items: center;
        @include for-sm {
            padding-top: 40px;
        } 
    }
    &__title{
        color: $white;
    }
    &__item{
        padding: 15px 5px;
        max-width: 441px;
        width: 100%;
        border-radius: 45px;
        border: 1px solid $white;
        color: $white;
        text-align: center;
        cursor: pointer;
        transition: .3s;
        &:hover{
            background-color: $white;
            color: $black;
        }
        &+&{
            margin-top: 20px;
            @include for-sm {
                margin-top: 10px;
            }
        }
        @include for-sm {
            padding: 7.5px 5px;
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.complaint-thanks{
    position: absolute;    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;   
    border-radius: 25px;
    background-color: $black;
    &__inner{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__title{
        margin-top: 20px;
        color: $white;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
    }
}


